# Copyright (C) 2018 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "AT commands"

orsource "audio/Kconfig"
orsource "http/Kconfig"
orsource "coap/Kconfig"
orsource "ftp/Kconfig"
orsource "tcpip/Kconfig"
orsource "cfw/Kconfig"
orsource "lwm2m/Kconfig"
orsource "ssim/Kconfig"
orsource "dm/Kconfig"
orsource "gprs/Kconfig"
orsource "mqtt/Kconfig"
orsource "cam/Kconfig"
orsource "misc/Kconfig"
orsource "apn/Kconfig"
orsource "alic/Kconfig"
orsource "bt/Kconfig"
orsource "wifi/Kconfig"
orsource "sim/Kconfig"

endmenu
