# Copyright (C) 2018 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "mbedtls"

config MBEDTLS_REDUCE_MEMORY
    bool "MBEDTLS_REDUCE_MEMORY enabled"
    default n
    help
        When enabled, MBEDTLS_REDUCE_MEMORY will be defined
config MBEDTLS_LITE_CRYPTS
    bool "MBEDTLS_LITE_CRYPTS enabled"
    default n
    help
        When enabled, MBEDTLS_LITE_CRYPTS will be defined
endmenu
